<div class="main">
    <div class="close">
        <button mat-flat-button (click)="dialogRef.close();">Close</button>
    </div>
    <div class="body">
        <h1>Impressum</h1>

        <p>
          Klinton Mita<br />
          Nonnenpfad 1<br />
          1<br />
          49074 Osnabrueck
        </p>
      
        <h2>Kontakt</h2>
        <p>
          Telefon: 01781884097<br />
          E-Mail: mitatoni22&#64;gmail.com
        </p>
      
        <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
</div>
